.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6%;
  height: 6rem;
  background-color: rgb(94, 13, 139, 1.0);
}

.logo {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-family: "Fira", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cf98df;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
}

.header a:hover {
  color: rgb(113, 167, 213);
}

@media (min-width: 768px) {
  .logo {
    font-weight: bolder;
    font-size: 3rem;
  }

  .navigation a {
    font-size: 1.5rem;
  }
}
