
.navigation {
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgba(36, 8, 51, 0.824);
  align-items: center;
  padding: 0.05rem 6%;
}

.navigation ul {
  margin: 0;
  display: inline-block;
}

.navigation ul li {
  float: left;
  padding: 5px;
  margin: 15px;
  width: auto;
}

.navigation a {
  text-decoration: none;
  color: #f1e9f1;
  font-size: 1rem;
}

.navigation a:hover {
  color: rgb(113, 167, 213);
}


/* @media (min-width: 768px) {
  .navigation a {
    font-weight: 900;
    text-decoration: underline;
    font-size: 1.6rem;
  }
} */
